<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynthCloud</title>

    <link rel="stylesheet" href="../styles/main.css">

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>

    <script>
        const preferredLanguage = '<%= preferredLanguage %>';
    </script>

</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-gray-800 shadow">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
            <h1 class="text-xl font-semibold text-white"><a href="/">SynthCloud</a></h1>
            <ul class="flex space-x-4 items-center">
                <li><a href="/" class="text-white hover:text-gray-300 me-5"><% if (preferredLanguage === 'english') { %>Explore<% } else if (preferredLanguage === 'russian') { %>Главное<% } %></a></li>
                <li><a href="/lyrics" class="text-white hover:text-gray-300 me-5"><% if (preferredLanguage === 'english') { %>Lyrics<% } else if (preferredLanguage === 'russian') { %>Текст песни<% } %></a></li>
                <li><a href="/upload" class="text-white hover:text-gray-300 me-5"><% if (preferredLanguage === 'english') { %>Upload<% } else if (preferredLanguage === 'russian') { %>Загрузить<% } %></a></li>
                <!-- Avatar Redirecting to Profile Page -->
                <li>
                    <a href="/profile">
                        <img src="https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg" alt="Avatar" class="w-8 h-8 rounded-full">
                    </a>
                </li>
                <!-- Gear Icon for Settings -->
                <li>
                    <a href="/settings" class="text-white hover:text-gray-300 ms-5">
                        <i class="material-icons pt-1">settings</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Main Content -->
    <div class="container mx-auto px-4 py-8">
        <h2 class="text-2xl font-semibold mb-4"><% if (preferredLanguage === 'english') { %>Musics<% } else if (preferredLanguage === 'russian') { %>Музыки<% } %></h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" id="musicGrid">
            <% musicInfo.forEach((musicInfo, index) => { %>
                <div class="bg-white rounded-lg shadow-md overflow-hidden flex items-center music-item" data-index="<%= index %>" data-src="<%= musicInfo.musicURL %>" data-songname="<%= musicInfo.songName %>" data-artist="<%= musicInfo.artist %>" data-description="<%=musicInfo.desciption %>">
                    <img src="<%= musicInfo.coverURL %>" alt="Music Cover" class="w-1/3">
                    <div class="p-4 flex-grow">
                        <h3 class="text-lg font-semibold  song-title"> <%= musicInfo.songName %> <br> <span class="text-sm text-gray-600"><%= musicInfo.artist %></span></h3>
                    </div>
                    <!-- Pass necessary photos -->
                    <input type="hidden" class="artist-photo" value="<%= musicInfo.artistPhotoURL || 'https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg' %>">
                    <input type="hidden" class="modal-photo" value="<%= musicInfo.modalPhotoURL || musicInfo.coverURL %>">
                </div>
            <% }) %>            
        </div>
    </div>

    <audio id="audio" controls style="display: none;"></audio>    

    <!-- Music Player -->
    <div class="bg-gray-800 py-4 fixed bottom-0 w-full" style="z-index: 1;">
        <div class="container mx-auto px-4 flex items-center justify-between">
            <div class="flex items-center space-x-4">
                <button class="text-white" id="previousButton"><i class="material-icons pt-1">skip_previous</i></button>
                <button class="text-white" id="playButton"><i class="material-icons pt-1">play_arrow</i></button>
                <button class="text-white" id="nextButton"><i class="material-icons pt-1">skip_next</i></button>
                <p id="music-data" class= "text-white"><%= musicInfo[0].artist%> - <%= musicInfo[0].songName %></p>
            </div>
            <div class="w-2/3">
                <div class="flex items-center justify-between">
                    <div id="currentDuration" class="text-white">0:00</div>
                    <div class="bg-gray-600 h-2 w-full mx-4 rounded-full">
                        <div id="progressBar" class="bg-white h-2 rounded-full"></div>
                    </div>
                    <div id="maxDuration" class="text-white me-5">0:00</div>
                    <!--Info Button-->
                    <button id="infoButton" class="text-white ml-4 pt-1"><i class="material-icons">info</i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal" class="fixed top-12 right-0 bottom-16 bg-gray-800 sm:w-full md:w-1/2 lg:w-1/3 hidden p-8">
        <div class="flex justify-end">
            <button id="closeModal" class="text-white mb-5 hover:text-gray-500 focus:outline-none">
                <i class="material-icons">close</i>
            </button>
        </div>
        <img src="" alt="Modal Photo" id="modalPhoto" class="mb-4 rounded-lg">
        

        <h2 class="text-2xl text-white font-semibold mb-4" id="modalTitle"><% if (preferredLanguage === 'english') { %>Song Title<% } else if (preferredLanguage === 'russian') { %>Название песни<% } %></h2>
        <div class="flex items-center mb-4">
            <img src="" alt="Artist Photo" id="artistPhoto" class="w-10 h-10 rounded-full mr-2">
            <p class="text-gray-400" id="modalArtist"></p>
        </div>
        <p class="text-gray-400" id="modalDescription"><% if (preferredLanguage === 'english') { %>Song Description<% } else if (preferredLanguage === 'russian') { %>Об песне<% } %></p>
    </div>


    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="../scripts/client.js"></script>
</body>
</html>
